rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    match /{userId}/{courseName}/{fileName} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Optional: allow general read access for public materials
    match /public/{allPaths=**} {
      allow read;
    }
  }
}